
.heading {
    color: #8163ff;
    font-size: 2em;
}


.input {
    height: 48px;
    width: 20vw;
    margin: 15px 30px !important;
}

.inputWrapper {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 500px) {
    .heading {
        font-size: 1.5em;
    }

    .input {
        width: 50vw;
        margin: 2vw;
    }

    .btn {
        margin-top: 2vh;
    }
}