.create {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    padding: 3vh;
    margin: 3vh 20vw;
    min-width: 40vw;
}

.input {
    margin-top: 8vh;
    width: 100%;
}

.textField {
    width: 20vw;
    overflow-x: auto;

}

.inputWrapper {
    display: flex;
    flex-direction: column;
}

.inputLabel {
    font-size: calc(.7vh + .7vw);
}

.selectWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    margin: calc(2vh + 2vw) 0;
    min-width: 20vw;
    width: 100%;
}

.select {
    margin-bottom: 2vh;
    min-height: 6vh;
    justify-content: center;
    width: 100%;
}

.inputProps {
    margin-top: 77vh;
}

.text {
    color: #6f42c1;
    font-size: calc(1.5vh + 1.5vw);
}

@media screen and (max-width: 480px) {
    .create {
        margin: 3vh 3vw;
    }

    .input {
        margin-top: 45px;
    }

    .text {
        font-size: 2em;
    }

}