.notFound {
    display: flex;
    align-items: center;
    height: 100vh;
}

.answer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo404 {
    height: 40vh;
}